# Ex1 - Filtrar y ordenar datos


### Paso 1. Importar las bibliotecas necesarias

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Paso 2. Importa el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) y asígnalos a una variable llamada chipo.

In [2]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep="\t")

### Paso 3. Nombre del producto de valor máximo

In [6]:
chipo.item_price = chipo.item_price.str.replace("$","").astype(float)

/tmp/ipykernel_6009/3927224815.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipo.item_price = chipo.item_price.str.replace("$","").astype(float)

In [9]:
chipo[chipo.item_price == chipo.item_price.max()]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Paso 4. ¿Cuántos productos cuestan más de 10 dólares?

In [15]:
chipo[chipo.item_price > 10].shape

(1130, 5)

Extra: Cuántos pedidos se han hecho con un producto de más de 10$

In [21]:
# chipo[chipo.item_price > 10].groupby('order_id').count()

chipo[chipo.item_price > 10].nunique()
chipo[chipo.item_price > 10]['order_id'].nunique()

chipo[chipo.item_price > 10]['order_id'].value_counts()

691     8
1786    7
1559    5
491     5
577     5
       ..
704     1
705     1
707     1
712     1
1834    1
Name: order_id, Length: 863, dtype: int64

### Paso 5. ¿Cuál es el precio de cada artículo? Obtenga sólo item_name y unit_price

In [31]:
chipo['unit_price'] = chipo.item_price / chipo.quantity
chipo['item_name'] = chipo['item_name'].str.replace("-"," ")

chipo[['item_name','unit_price']].groupby('item_name').max()

                                       unit_price
item_name
6 Pack Soft Drink                            6.49
Barbacoa Bowl                               11.75
Barbacoa Burrito                            11.75
Barbacoa Crispy Tacos                       11.75
Barbacoa Salad Bowl                         11.89
Barbacoa Soft Tacos                         11.75
Bottled Water                                1.50
Bowl                                         7.40
Burrito                                      7.40
Canned Soda                                  1.09
Canned Soft Drink                            1.25
Carnitas Bowl                               11.75
Carnitas Burrito                            11.75
Carnitas Crispy Tacos                       11.75
Carnitas Salad                               8.99
Carnitas Salad Bowl                         11.89
Carnitas Soft Tacos                         11.75
Chicken Bowl                                11.25
Chicken Burrito                             11.25
Chicken Crispy Tacos                        11.25
Chicken Salad                               10.98
Chicken Salad Bowl                          11.25
Chicken Soft Tacos                          11.25
Chips                                        2.15
Chips and Fresh Tomato Salsa                 2.95
Chips and Guacamole                          4.45
Chips and Mild Fresh Tomato Salsa            3.00
Chips and Roasted Chili Corn Salsa           2.95
Chips and Tomatillo Green Chili Salsa        2.95
Chips and Tomatillo Red Chili Salsa          2.95
Crispy Tacos                                 7.40
Izze                                         3.39
Nantucket Nectar                             3.39
Salad                                        7.40
Side of Chips                                1.69
Steak Bowl                                  11.75
Steak Burrito                               11.75
Steak Crispy Tacos                          11.75
Steak Salad                                  8.99
Steak Salad Bowl                            11.89
Steak Soft Tacos                            11.75
Veggie Bowl                                 11.25
Veggie Burrito                              11.25
Veggie Crispy Tacos                          8.49
Veggie Salad                                 8.49
Veggie Salad Bowl                           11.25
Veggie Soft Tacos                           11.25

### Paso 6. Ordenar por el nombre del artículo

In [23]:
chipo.sort_values(by='item_name',ascending=True)

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Paso 7. ¿Cuál fue la cantidad del artículo más caro pedido? 2 formas

In [44]:
chipo[chipo.item_price == chipo.item_price.max()]['quantity']

3598    15
Name: quantity, dtype: int64

In [45]:
chipo.loc[chipo['item_price'].idxmax(), 'quantity']

15

## Paso 7.1: Cantidad de ARTICULOS del pedido MAS CARO

In [43]:
chipo.groupby('order_id').sum().sort_values('item_price',ascending=False)

/tmp/ipykernel_6009/2648107408.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  chipo.groupby('order_id').sum().sort_values('item_price',ascending=False)

          quantity  item_price  unit_price
order_id
926             23      205.25      205.25
1443            35      160.74       41.69
1483            14      139.00      139.00
691             11      118.25      118.25
1786            20      114.30       93.45
...            ...         ...         ...
17               2       10.08       10.08
889              2       10.08       10.08
1014             2       10.08       10.08
1303             2       10.08       10.08
1602             2       10.08       10.08

[1834 rows x 3 columns]

### Paso 8. ¿Cuántas veces se pidió una Veggie Salad Bowl?

In [59]:
chipo[chipo['item_name'] == 'Veggie Salad Bowl']['quantity'].count()

18

In [60]:
chipo[chipo['item_name'].str.contains('Veggie Salad Bowl')]['quantity'].count()

18

### Paso 9. ¿Cuántas veces pidió alguien más de un Canned Soda?

In [58]:
chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)].shape

(20, 6)

Extra

In [ ]:
# 1º Filtrar con una máscara: chipo[chipo["item_name"] == "Canned Soda"]
# 2º Agrupar las orders y canned sodas sumando las cantitades totales .groupby(['order_id','item_name'], as_index= False)
# 3º Quiero sumar solo la columna de quantity [['quantity']].sum()