# REST APIs con Python

Hay una cantidad increíble de datos disponibles en la web. Muchos servicios web, como YouTube y GitHub, hacen que sus datos sean accesibles a aplicaciones de terceros a través de una interfaz de programación de aplicaciones (API). Una de las formas más populares de construir APIs es con el estilo de arquitectura REST. Python proporciona algunas herramientas excelentes no sólo para obtener datos de las APIs REST, sino también para construir tus propias APIs REST en Python.

Utilizando Python y las APIs REST, puedes recuperar, analizar, actualizar y manipular los datos proporcionados por cualquier servicio web que te interese.

## Arquitectura REST y servicios Web REST

REST significa [representational state transfer](https://en.wikipedia.org/wiki/Representational_state_transfer) y es un estilo de arquitectura de software que define un patrón para las comunicaciones entre cliente y servidor a través de una red. REST proporciona un conjunto de restricciones para que la arquitectura del software promueva el rendimiento, la escalabilidad, la simplicidad y la fiabilidad del sistema.

Un servicio web REST es cualquier servicio web que se adhiere a las restricciones de la arquitectura REST. Estos servicios web exponen sus datos al mundo exterior a través de una API. Las APIs REST proporcionan acceso a los datos del servicio web a través de URLs web públicas.

Por ejemplo, esta es una de las URL de la API REST de GitHub:

```
https://api.github.com/users/<nombredeusuario>
```

Esta URL te permite acceder a información sobre un usuario específico de GitHub. El acceso a los datos de una API REST se realiza enviando una solicitud HTTP a una URL específica y procesando la respuesta.

## Métodos HTTP

Las APIs REST escuchan métodos HTTP como GET, POST y DELETE para saber qué operaciones realizar en los recursos del servicio web. Un recurso es cualquier dato disponible en el servicio web al que se puede acceder y manipular con peticiones HTTP a la API REST. El método HTTP indica a la API qué acción debe realizar sobre el recurso.

Aunque hay muchos métodos HTTP, los cinco métodos que se enumeran a continuación son los más utilizados con las APIs REST:

<table class="table table-hover">
<thead>
<tr>
<th>HTTP method</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>GET</code></td>
<td>Retrieve an existing resource.</td>
</tr>
<tr>
<td><code>POST</code></td>
<td>Create a new resource.</td>
</tr>
<tr>
<td><code>PUT</code></td>
<td>Update an existing resource.</td>
</tr>
<tr>
<td><code>PATCH</code></td>
<td>Partially update an existing resource.</td>
</tr>
<tr>
<td><code>DELETE</code></td>
<td>Delete a resource.</td>
</tr>
</tbody>
</table>

## Códigos de status

Una vez que una API REST recibe y procesa una solicitud HTTP, devolverá una respuesta HTTP. En esta respuesta se incluye un código de estado HTTP. Este código proporciona información sobre los resultados de la solicitud. Una aplicación que envíe solicitudes a la API puede comprobar el código de estado y realizar acciones basadas en el resultado. Estas acciones pueden incluir la gestión de errores o la visualización de un mensaje de éxito a un usuario.

A continuación se muestra una lista de los códigos de estado más comunes devueltos por las APIs de REST:

<div class="table-responsive">
<table class="table table-hover">
<thead>
<tr>
<th>Code</th>
<th>Meaning</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>200</code></td>
<td>OK</td>
<td>The requested action was successful.</td>
</tr>
<tr>
<td><code>201</code></td>
<td>Created</td>
<td>A new resource was created.</td>
</tr>
<tr>
<td><code>202</code></td>
<td>Accepted</td>
<td>The request was received, but no modification has been made yet.</td>
</tr>
<tr>
<td><code>204</code></td>
<td>No Content</td>
<td>The request was successful, but the response has no content.</td>
</tr>
<tr>
<td><code>400</code></td>
<td>Bad Request</td>
<td>The request was malformed.</td>
</tr>
<tr>
<td><code>401</code></td>
<td>Unauthorized</td>
<td>The client is not authorized to perform the requested action.</td>
</tr>
<tr>
<td><code>404</code></td>
<td>Not Found</td>
<td>The requested resource was not found.</td>
</tr>
<tr>
<td><code>415</code></td>
<td>Unsupported Media Type</td>
<td>The request data format is not supported by the server.</td>
</tr>
<tr>
<td><code>422</code></td>
<td>Unprocessable Entity</td>
<td>The request data was properly formatted but contained invalid or missing data.</td>
</tr>
<tr>
<td><code>500</code></td>
<td>Internal Server Error</td>
<td>The server threw an error when processing the request.</td>
</tr>
</tbody>
</table>
</div>

## API Endpoints

Una API REST expone un conjunto de URLs públicas que las aplicaciones cliente utilizan para acceder a los recursos de un servicio web. Estas URL, en el contexto de una API, se denominan `endpoints`.

Para ayudar a aclarar esto, eche un vistazo a la siguiente tabla. En esta tabla, verá los puntos finales de la API para un hipotético sistema CRM. Estos endpoints son para un recurso de cliente que representa clientes potenciales en el sistema:

<div class="table-responsive">
<table class="table table-hover">
<thead>
<tr>
<th>HTTP method</th>
<th>API endpoint</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>GET</code></td>
<td><code>/customers</code></td>
<td>Get a list of customers.</td>
</tr>
<tr>
<td><code>GET</code></td>
<td><code>/customers/&lt;customer_id&gt;</code></td>
<td>Get a single customer.</td>
</tr>
<tr>
<td><code>POST</code></td>
<td><code>/customers</code></td>
<td>Create a new customer.</td>
</tr>
<tr>
<td><code>PUT</code></td>
<td><code>/customers/&lt;customer_id&gt;</code></td>
<td>Update a customer.</td>
</tr>
<tr>
<td><code>PATCH</code></td>
<td><code>/customers/&lt;customer_id&gt;</code></td>
<td>Partially update a customer.</td>
</tr>
<tr>
<td><code>DELETE</code></td>
<td><code>/customers/&lt;customer_id&gt;</code></td>
<td>Delete a customer.</td>
</tr>
</tbody>
</table>
</div>

**Nota**: Se omite por brevedad, pero la URL completa sería del tipo `https://api.example.com/customers`

Observará que algunos endpoints tienen `<customer_id>` al final. Esta notación significa que debe añadir un customer_id numérico a la URL para indicar a la API REST con qué cliente desea trabajar.

Los endpoints enumerados anteriormente representan sólo un recurso del sistema. Las API REST listas para la producción suelen tener decenas o incluso cientos de endpoints diferentes para gestionar los recursos del servicio web.

## Consumir APIs con Python

Para escribir código que interactúe con las APIs REST, la mayoría de los desarrolladores de Python recurren ala librería `requests` para enviar solicitudes HTTP. Esta librería abstrae las complejidades de hacer peticiones HTTP. 

Para empezar a usar `requests`, necesitas instalarla primero. Puedes usar pip:

In [1]:
!pip install requests

Requirement already satisfied: requests in c:\users\alber\appdata\local\programs\python\python310\lib\site-packages (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\alber\appdata\local\programs\python\python310\lib\site-packages (from requests) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\alber\appdata\local\programs\python\python310\lib\site-packages (from requests) (1.26.12)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\alber\appdata\local\programs\python\python310\lib\site-packages (from requests) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in c:\users\alber\appdata\local\programs\python\python310\lib\site-packages (from requests) (3.4)

### GET

GET es uno de los métodos HTTP más comunes que utilizará cuando trabaje con APIs REST. Este método le permite recuperar recursos de una determinada API. GET es una operación de **sólo lectura**, por lo que no debe utilizarla para modificar un recurso existente.

Para probar GET y los demás métodos de esta sección, utilizarás un servicio llamado JSONPlaceholder. Este servicio gratuito proporciona puntos finales de API falsos que devuelven respuestas que las solicitudes pueden procesar.

Para probarlo, inicia el REPL de Python y ejecuta los siguientes comandos para enviar una solicitud GET a un punto final de JSONPlaceholder:

In [2]:
import requests
api_url = "https://jsonplaceholder.typicode.com/todos/1"
response = requests.get(api_url)
response.json()

{'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False}

Este código llama a `requests.get()` para enviar una petición GET a `/todos/1`, que responde con el elemento todo con el ID 1. A continuación, puede llamar a `.json()` en el objeto de respuesta para ver los datos devueltos por la API.

Los datos de la respuesta están formateados como JSON, un almacén de clave-valor similar a un diccionario de Python. Es un formato de datos muy popular y el formato de intercambio de facto para la mayoría de las APIs REST.

Además de ver los datos JSON de la API, también puede ver otras cosas sobre la respuesta:

In [3]:
print(response.status_code)
print(response.headers["Content-Type"])
print(response.headers)

200
application/json; charset=utf-8
{'Date': 'Wed, 22 Mar 2023 09:06:26 GMT', 'Content-Type': 'application/json; charset=utf-8', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'X-Powered-By': 'Express', 'X-Ratelimit-Limit': '1000', 'X-Ratelimit-Remaining': '998', 'X-Ratelimit-Reset': '1676960656', 'Vary': 'Origin, Accept-Encoding', 'Access-Control-Allow-Credentials': 'true', 'Cache-Control': 'max-age=43200', 'Pragma': 'no-cache', 'Expires': '-1', 'X-Content-Type-Options': 'nosniff', 'Etag': 'W/"53-hfEnumeNh6YirfjyjaujcOPPT+s"', 'Via': '1.1 vegur', 'CF-Cache-Status': 'HIT', 'Age': '28778', 'Server-Timing': 'cf-q-config;dur=7.9999990703072e-06', 'Report-To': '{"endpoints":[{"url":"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=HlZSAFltBZ%2BNEhqI9TjQchdptJXJTIxIPGivdDzDjHl3D008ErrJ2cXFhGsKrsJchHJzxch3y68LRXPxiFzTkC6JAriPUpEYRILaPqhUMLjU2oT%2BrHJgEB5Mkk5HxYsjBsYUPkADLJQC2EKuQZ5b"}],"group":"cf-nel","max_age":604800}', 'NEL': '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}', 'Server': 'cloudflare', 'CF-RAY': '7abd47519f3969c9-MAD', 'Content-Encoding': 'gzip', 'alt-svc': 'h3=":443"; ma=86400, h3-29=":443"; ma=86400'}

Aquí se accede a `response.status_code` para ver el código de estado HTTP. También puedes ver las cabeceras HTTP de la respuesta con `response.headers`. Este diccionario contiene metadatos sobre la respuesta, como el Content-Type de la respuesta.

### POST

Aquí se llama a `requests.post()` para crear una nueva tarea en el sistema.

1. Se crea un diccionario que contiene los datos de la tarea
2. Pasa este diccionario al argumento de la palabra clave json de `requests.post()`
3. Al hacer esto, requests.post() automáticamente establece el encabezado HTTP Content-Type de la solicitud a application/json. También serializa todo en una cadena JSON, que añade al cuerpo de la petición.

In [4]:
api_url = "https://jsonplaceholder.typicode.com/todos"
todo = {"userId": 1, "title": "Buy milk", "completed": False}
response = requests.post(api_url, json=todo)
print(response.json())
print(response.status_code)

{'userId': 1, 'title': 'Buy milk', 'completed': False, 'id': 201}
201

Si no utiliza el argumento `json` en la función para suministrar los datos JSON, deberá establecer el `Content-Type` correspondiente y serializar el JSON manualmente. Aquí hay una versión equivalente al código anterior:

In [5]:
import json
api_url = "https://jsonplaceholder.typicode.com/todos"
todo = {"userId": 1, "title": "Buy milk", "completed": False}
headers =  {"Content-Type":"application/json"}
response = requests.post(api_url, data=json.dumps(todo), headers=headers)

print(response.json())
print(response.status_code)

{'userId': 1, 'title': 'Buy milk', 'completed': False, 'id': 201}
201

### PUT

In [6]:
api_url = "https://jsonplaceholder.typicode.com/todos/10"
response = requests.get(api_url)
print(response.json())

{'userId': 1, 'id': 10, 'title': 'illo est ratione doloremque quia maiores aut', 'completed': True}

In [7]:
todo = {"userId": 1, "title": "Wash car", "completed": True}
response = requests.put(api_url, json=todo)
print(response.json())
print(response.status_code)

{'userId': 1, 'title': 'Wash car', 'completed': True, 'id': 10}
200

### PATCH

In [8]:
api_url = "https://jsonplaceholder.typicode.com/todos/10"
todo = {"title": "Mow lawn"}
response = requests.patch(api_url, json=todo)
print(response.json())
print(response.status_code)

{'userId': 1, 'id': 10, 'title': 'Mow lawn', 'completed': True}
200

### DELETE

In [9]:
api_url = "https://jsonplaceholder.typicode.com/todos/10"
response = requests.delete(api_url)
response.json()

{}

## Ejemplo: Datos Sevici

Hoy en día, una gran cantidad de sitios web facilitan acceso a sus datos a través de API RESTs. Un ejemplo es la siguiente web con información geográfica sobre distintos aspectos de nuestra ciudad.

In [10]:
# En la web encontramos la especificación de la API que nos interesa
url = 'https://services1.arcgis.com/hcmP7kr0Cx3AcTJk/arcgis/rest/services/Estaciones_Sevici/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json'

# Obtenemos los datos correspondientes con request y lo guardamos en una variable
data = requests.get(url)

# Escribimos el json para poder pasarlo por un Beautifier (https://codebeautify.org/jsonviewer) 
# que nos permite visualizarlo de manera sencilla
type(data)

print(data.status_code)
print(data.headers)
print(type(data.content))
print(type(data.json()))

200
{'Content-Type': 'application/json; charset=utf-8', 'Content-Length': '14377', 'Connection': 'keep-alive', 'Cache-Control': 'public, max-age=30, s-maxage=30', 'Content-Encoding': 'gzip', 'Last-Modified': 'Wed, 22 Feb 2017 12:29:58 GMT', 'X-ArcGIS-Trace-Id': '254c5aaee2282e08bec9997446bae554', 'x-esri-query-request-units': '2', 'x-esri-tiles-basic-query-mode': 'true', 'x-esri-tiles-basic-query-type': 'Basic', 'x-esri-org-request-units-per-min': 'usage=14;max=6000', 'x-esri-query-geometry-field-name': 'Shape', 'X-ArcGIS-Correlation-Id': '00-254c5aaee2282e08bec9997446bae554-df48c78a0e684f3e-00', 'X-ArcGIS-Instance': 'i7tdixsfq000008', 'Strict-Transport-Security': 'max-age=63072000', 'Access-Control-Allow-Origin': '*', 'Date': 'Wed, 22 Mar 2023 09:06:11 GMT', 'ETag': 'sd1215_-1958504146', 'X-Cache': 'Hit from cloudfront', 'Via': '1.1 5a9407a8135fc4485c7bda1bbd27a126.cloudfront.net (CloudFront)', 'X-Amz-Cf-Pop': 'MAD56-P2', 'X-Amz-Cf-Id': 'MbUs3dK8F6GaRxRFcSlebnC83W2gcm6khG0wGn6mKa912o5wg9qwuA==', 'Age': '17'}
<class 'bytes'>
<class 'dict'>

El formato de los datos no es muy amigable pero con un poco de exploración encontramos la información que nos interesa

In [11]:
# Guardamos la respuesta en un diccionario
# Con el método .json() de la request directamente 
# leemos el json como diccionario

# Sacamos los datos usando bucles o listas por comprension
data_json = data.json()
rows = [x["attributes"] for x in data_json["features"]]
# rows = []
# for dic in data_json["features"]:
#     rows.append(dic["attributes"])
import pandas as pd
df_sevici = pd.DataFrame(rows)
df_sevici

,FID,id_estacio,Direccion,Aproximaci,Lat_Y,Lon_X,CreationDate,Creator,EditDate,Editor
0,1,1,Glorieta Olimpica,Concejal Alberto Jiménez-Becerril,37.412983,-5.988933,1412457692379,Ayto.Sevilla,1412457692379,Ayto.Sevilla
1,2,2,Gran Plaza,Calle Marquez de Pickman,37.381664,-5.965183,1412457692379,Ayto.Sevilla,1412457692379,Ayto.Sevilla
2,3,3,Puerta de la Barqueta,Puente de la Barqueta,37.405640,-5.998514,1412457692379,Ayto.Sevilla,1412457692379,Ayto.Sevilla
3,4,4,Calle Leonardo Da Vinci,Calle Thomas Alba Edison,37.410126,-6.005659,1412457692379,Ayto.Sevilla,1412457692379,Ayto.Sevilla
4,5,131,Calle Tabladilla,Calle Cardenal Ilundaín,37.364746,-5.981396,1412457692379,Ayto.Sevilla,1412457692379,Ayto.Sevilla
...,...,...,...,...,...,...,...,...,...,...
255,256,256,Plaza Miguel Montoro,Calle Pero Mingo,37.385987,-5.910274,1412457692379,Ayto.Sevilla,1412457692379,Ayto.Sevilla
256,257,257,Plaza Torres de Albarracín,Plaza Corazón de María,37.384210,-5.909692,1412457692379,Ayto.Sevilla,1412457692379,Ayto.Sevilla
257,258,258,Calle Estaca de Vares,Calle Creus,37.383797,-5.914633,1412457692379,Ayto.Sevilla,1412457692379,Ayto.Sevilla
258,259,259,Calle 8 de Marzo,Calle Aguila Perdicera,37.367181,-5.954483,1412457692379,Ayto.Sevilla,1412457692379,Ayto.Sevilla
259,260,260,Avenida de la Revoltosa,Centro Deportivo Amate,37.378641,-5.948474,1412457692379,Ayto.Sevilla,1412457692379,Ayto.Sevilla

In [23]:
api_key = "5794da6cf4e7e322dfa448e8d76e33d4ac8786f1"
# url = f"https://api.jcdecaux.com/vls/v1/stations?contract={contract_name}&apiKey={api_key}"
contract_name = "Seville"

url = f"https://api.jcdecaux.com/vls/v1/contracts?apiKey={api_key}"
req_contracts = requests.get(url)
ls_contracts = req_contracts.json()
df_contracts = pd.DataFrame(ls_contracts)
df_contracts

,name,commercial_name,cities,country_code
0,rouen,cy'clic,[Rouen],FR
1,jcdecauxbike,None,None,None
2,toulouse,Vélô,[Toulouse],FR
3,luxembourg,Veloh,[Luxembourg],LU
4,dublin,dublinbikes,[Dublin],IE
5,valence,None,None,None
6,stockholm,Cyclocity,[Stockholm],SE
7,santander,Tusbic,[Santander],ES
8,lund,Lundahoj,[Lund],SE
9,maribor,None,None,None
10,bruxelles,villo,"[Anderlecht, Berchem-Sainte-Agathe, Bruxelles,...",BE
11,lyon,Vélo'V,"[Caluire-et-Cuire, Lyon, Vaulx-En-Velin, Ville...",FR
12,amiens,Velam,[Amiens],FR
13,mulhouse,VéloCité,[Mulhouse],FR
14,lillestrom,Bysykkel,[Lillestrom],NO
15,ljubljana,Bicikelj,[Ljubljana],SI
16,seville,None,None,None
17,nancy,vélOstan'lib,[Nancy],FR
18,namur,Li bia velo,[Namur],BE
19,creteil,Cristolib,[Créteil],FR
20,cergy-pontoise,Velo2,"[Cergy, Courdimanche, Eragny-sur-Oise, Neuvill...",FR
21,vilnius,Cyclocity,[Vilnius],LT
22,toyama,cyclocity,[Toyama],JP
23,marseille,Le vélo,[Marseille],FR
24,nantes,Bicloo,[Nantes],FR
25,brisbane,CityCycle,[Brisbane],AU
26,besancon,None,None,None

In [33]:
api_key = "5794da6cf4e7e322dfa448e8d76e33d4ac8786f1"
contract_name = "seville"
station_number = 100
url2 = f"https://api.jcdecaux.com/vls/v1/stations?contract={contract_name}&apiKey={api_key}"

req_stations = requests.get(url2)
ls_stations = req_stations.json()
df_stations = pd.DataFrame(ls_stations)
df_stations

,number,contract_name,name,address,position,banking,bonus,bike_stands,available_bike_stands,available_bikes,status,last_update
0,194,seville,194_CALLE PARQUE DE DOÑANA,CALLE PARQUE DE DOÑANA - Aprox. Calle Corral d...,"{'lat': 37.418586, 'lng': -5.973249}",False,False,20,13,7,OPEN,1679477824000
1,126,seville,126_AVENIDA REINA MERCEDES,AVENIDA REINA MERCEDES - Aprox. Facultad de In...,"{'lat': 37.358414, 'lng': -5.986423}",False,False,25,10,15,OPEN,1679478224000
2,73,seville,073_PLAZA SAN AGUSTIN,PLAZA SAN AGUSTIN - Aprox. C/ Concepción,"{'lat': 37.38962, 'lng': -5.984551}",False,False,15,15,0,OPEN,1679478221000
3,100,seville,100_PASEO CATALINA RIBERA,PASEO CATALINA RIBERA - Aprox. C/ San Fernando,"{'lat': 37.381542, 'lng': -5.989222}",False,False,20,0,19,OPEN,1679477710000
4,96,seville,096_CALLE BETIS,CALLE BETIS - Aprox. C/ Juan de Lugo,"{'lat': 37.383674, 'lng': -6.000026}",False,False,19,3,16,OPEN,1679477647000
...,...,...,...,...,...,...,...,...,...,...,...,...
252,146,seville,146_AVENIDA REINA MERCEDES,AVENIDA REINA MERCEDES - Aprox. C/ Profesor Ga...,"{'lat': 37.360007, 'lng': -5.986374}",False,False,20,1,19,OPEN,1679478085000
253,135,seville,135_CALLE VIRGEN DE LUJÁN,CALLE VIRGEN DE LUJÁN - Aprox. Glorieta las Ci...,"{'lat': 37.374664, 'lng': -5.994932}",False,False,17,4,13,OPEN,1679477784000
254,215,seville,215_CALLE ZORZAL,CALLE ZORZAL - Aprox. Avenida de Andalucia,"{'lat': 37.3866414802585, 'lng': -5.9539810741...",False,False,15,9,6,OPEN,1679477804000
255,162,seville,162_AVENIDA SOLEA,AVENIDA SOLEA - Aprox. C/ Media Granaína,"{'lat': 37.39155, 'lng': -5.968485}",False,False,18,12,5,OPEN,1679478065000
256,10,seville,010_CALLE JOSE DIAZ,CALLE JOSE DIAZ - Aprox. Avda Concejal Alberto...,"{'lat': 37.409109, 'lng': -5.990943}",False,False,20,14,6,OPEN,1679478102000

In [66]:
def get_station(api_key, contract_name, station_number=None):
    if station_number is None:
        url = f"https://api.jcdecaux.com/vls/v1/stations?contract={contract_name}&apiKey={api_key}"
    else:
        url = f"https://api.jcdecaux.com/vls/v1/stations/{station_number}?contract={contract_name}&apiKey={api_key}"
    
    data = requests.get(url)
    ls_data = data.json()
    ls_data = ls_data if type(ls_data) == list else [ls_data]
    df = pd.DataFrame(ls_data)

    df["lat"] = df["position"].apply(lambda x: x["lat"])
    df["lon"] = df["position"].apply(lambda x: x["lng"])
    
    df.drop(columns="position", inplace=True)
    return df

In [71]:
dff = get_station(api_key, contract_name)
dff

,number,contract_name,name,address,banking,bonus,bike_stands,available_bike_stands,available_bikes,status,last_update,lat,lon
0,194,seville,194_CALLE PARQUE DE DOÑANA,CALLE PARQUE DE DOÑANA - Aprox. Calle Corral d...,False,False,20,12,8,OPEN,1679479353000,37.418586,-5.973249
1,126,seville,126_AVENIDA REINA MERCEDES,AVENIDA REINA MERCEDES - Aprox. Facultad de In...,False,False,25,9,16,OPEN,1679479100000,37.358414,-5.986423
2,73,seville,073_PLAZA SAN AGUSTIN,PLAZA SAN AGUSTIN - Aprox. C/ Concepción,False,False,15,15,0,OPEN,1679478826000,37.389620,-5.984551
3,100,seville,100_PASEO CATALINA RIBERA,PASEO CATALINA RIBERA - Aprox. C/ San Fernando,False,False,20,0,19,OPEN,1679479265000,37.381542,-5.989222
4,96,seville,096_CALLE BETIS,CALLE BETIS - Aprox. C/ Juan de Lugo,False,False,19,3,16,OPEN,1679478857000,37.383674,-6.000026
...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,146,seville,146_AVENIDA REINA MERCEDES,AVENIDA REINA MERCEDES - Aprox. C/ Profesor Ga...,False,False,20,0,20,OPEN,1679479052000,37.360007,-5.986374
253,135,seville,135_CALLE VIRGEN DE LUJÁN,CALLE VIRGEN DE LUJÁN - Aprox. Glorieta las Ci...,False,False,17,4,13,OPEN,1679479124000,37.374664,-5.994932
254,215,seville,215_CALLE ZORZAL,CALLE ZORZAL - Aprox. Avenida de Andalucia,False,False,15,9,6,OPEN,1679479014000,37.386641,-5.953981
255,162,seville,162_AVENIDA SOLEA,AVENIDA SOLEA - Aprox. C/ Media Granaína,False,False,18,13,4,OPEN,1679479057000,37.391550,-5.968485
256,10,seville,010_CALLE JOSE DIAZ,CALLE JOSE DIAZ - Aprox. Avda Concejal Alberto...,False,False,20,14,6,OPEN,1679479312000,37.409109,-5.990943

Ahora podemos escribir los datos en un dataframe de pandas que nos permita usar todo lo que hemos aprendido hasta ahora

In [72]:
df_sevici

,FID,id_estacio,Direccion,Aproximaci,Lat_Y,Lon_X,CreationDate,Creator,EditDate,Editor
0,1,1,Glorieta Olimpica,Concejal Alberto Jiménez-Becerril,37.412983,-5.988933,1412457692379,Ayto.Sevilla,1412457692379,Ayto.Sevilla
1,2,2,Gran Plaza,Calle Marquez de Pickman,37.381664,-5.965183,1412457692379,Ayto.Sevilla,1412457692379,Ayto.Sevilla
2,3,3,Puerta de la Barqueta,Puente de la Barqueta,37.405640,-5.998514,1412457692379,Ayto.Sevilla,1412457692379,Ayto.Sevilla
3,4,4,Calle Leonardo Da Vinci,Calle Thomas Alba Edison,37.410126,-6.005659,1412457692379,Ayto.Sevilla,1412457692379,Ayto.Sevilla
4,5,131,Calle Tabladilla,Calle Cardenal Ilundaín,37.364746,-5.981396,1412457692379,Ayto.Sevilla,1412457692379,Ayto.Sevilla
...,...,...,...,...,...,...,...,...,...,...
255,256,256,Plaza Miguel Montoro,Calle Pero Mingo,37.385987,-5.910274,1412457692379,Ayto.Sevilla,1412457692379,Ayto.Sevilla
256,257,257,Plaza Torres de Albarracín,Plaza Corazón de María,37.384210,-5.909692,1412457692379,Ayto.Sevilla,1412457692379,Ayto.Sevilla
257,258,258,Calle Estaca de Vares,Calle Creus,37.383797,-5.914633,1412457692379,Ayto.Sevilla,1412457692379,Ayto.Sevilla
258,259,259,Calle 8 de Marzo,Calle Aguila Perdicera,37.367181,-5.954483,1412457692379,Ayto.Sevilla,1412457692379,Ayto.Sevilla
259,260,260,Avenida de la Revoltosa,Centro Deportivo Amate,37.378641,-5.948474,1412457692379,Ayto.Sevilla,1412457692379,Ayto.Sevilla

Parece que el lugar en el que es más necesario especificar la aproximación es en la Calle Asunción

In [75]:
# Contamos el numero de Aproximaci y ordenamos para ver donde hay mas sevicis
df_sevici.groupby("Direccion")["Aproximaci"].count().sort_values(ascending=False)

Direccion
Avenida Alcalde Luis Uruñuela    8
Avenida Kansas City              6
Avenida Eduardo Dato             6
Avenida Reina Mercedes           5
Ronda Tamarguillo                4
                                ..
Calle Francisco Murillo          1
Calle Gema                       1
Calle Hiniesta                   1
Calle Ibiza                      1
Ronda del Tamarguillo            1
Name: Aproximaci, Length: 184, dtype: int64

Podemos sacar las posiciones de las estaciones que más nos interesen

In [77]:
# Sacamos una posicion

df_sevici.loc[df_sevici["Direccion"] == "Glorieta Olimpica"]

,FID,id_estacio,Direccion,Aproximaci,Lat_Y,Lon_X,CreationDate,Creator,EditDate,Editor
0,1,1,Glorieta Olimpica,Concejal Alberto Jiménez-Becerril,37.412983,-5.988933,1412457692379,Ayto.Sevilla,1412457692379,Ayto.Sevilla

Con el módulo `geopy` se puede encontrar la distancia geodésica (camino más corto sobre la superficie terrestre) entre dos estaciones de sevici

In [83]:
df_sevici.loc[df_sevici["Aproximaci"] == name2, ["Lat_Y", "Lon_X"]].values

array([[37.397411, -5.918765]])

In [80]:
df_sevici.loc[df_sevici["Aproximaci"].str.lower().str.contains("depor")]

,FID,id_estacio,Direccion,Aproximaci,Lat_Y,Lon_X,CreationDate,Creator,EditDate,Editor
216,217,225,Calle Flor De Retama,Centro Deportivo Entreflores,37.397411,-5.918765,1412457692379,Ayto.Sevilla,1412457692379,Ayto.Sevilla
227,228,229,Avenida Aeronautica,Avenida del Deporte,37.387363,-5.919905,1412457692379,Ayto.Sevilla,1412457692379,Ayto.Sevilla
259,260,260,Avenida de la Revoltosa,Centro Deportivo Amate,37.378641,-5.948474,1412457692379,Ayto.Sevilla,1412457692379,Ayto.Sevilla

In [87]:
from geopy.distance import geodesic
name1 = "Centro Deportivo Amate"
point1 = df_sevici.loc[df_sevici["Aproximaci"] == name1, ["Lat_Y", "Lon_X"]].values

name2 = "Centro Deportivo Entreflores"
point2 = df_sevici.loc[df_sevici["Aproximaci"] == name2, ["Lat_Y", "Lon_X"]].values

# Calculamos la distancia
dist = geodesic(point1, point2).km

print(f"La distancia entre {name1} y {name2} es de {dist:.2f} km")

La distancia entre Centro Deportivo Amate y Centro Deportivo Entreflores es de 3.36 km

## Ejemplo 2: OpenStreet Maps

In [88]:
import requests
import json
import pandas as pd
overpass_url = "http://overpass-api.de/api/interpreter"
overpass_query = """
[out:json];
node["amenity"="restaurant"]
  (37.39618524550243, -5.992814019826768, 37.40313742660628, -5.991058592015159); 
out;
"""
response = requests.get(overpass_url, 
                        params={'data': overpass_query})
print(response)
data = response.json()
data

<Response [200]>

{'version': 0.6,
 'generator': 'Overpass API 0.7.59.4 36d058c8',
 'osm3s': {'timestamp_osm_base': '2023-03-22T10:24:22Z',
  'copyright': 'The data included in this document is from www.openstreetmap.org. The data is made available under ODbL.'},
 'elements': [{'type': 'node',
   'id': 2417048579,
   'lat': 37.3992949,
   'lon': -5.9923078,
   'tags': {'addr:city': 'Sevilla',
    'addr:housenumber': '21',
    'addr:postcode': '41003',
    'addr:street': 'Calle Peris Mencheta',
    'amenity': 'restaurant',
    'name': 'Gibi Tapas',
    'phone': '+34 954 90 81 88'}},
  {'type': 'node',
   'id': 2526791436,
   'lat': 37.3995961,
   'lon': -5.9927957,
   'tags': {'addr:city': 'Sevilla',
    'addr:housenumber': '24',
    'addr:postcode': '41002',
    'addr:street': 'Calle Mata',
    'amenity': 'restaurant',
    'capacity': '50',
    'cuisine': 'international',
    'name': 'La Mata 24',
    'smoking': 'outside'}},
  {'type': 'node',
   'id': 2741881232,
   'lat': 37.4015362,
   'lon': -5.9919275,
   'tags': {'addr:city': 'sevilla',
    'addr:housenumber': '141',
    'addr:postcode': '41002',
    'addr:street': 'Feria',
    'amenity': 'restaurant',
    'name': 'sacramento',
    'wheelchair': 'yes'}},
  {'type': 'node',
   'id': 3234791246,
   'lat': 37.3979082,
   'lon': -5.9921537,
   'tags': {'addr:city': 'Sevilla',
    'addr:housenumber': '35',
    'addr:postcode': '41002',
    'addr:street': 'Calle Correduría',
    'amenity': 'restaurant',
    'email': 'info@bierkraft.es',
    'name': 'Bierkraft',
    'phone': '+34 655 83 45 60'}},
  {'type': 'node',
   'id': 3234796096,
   'lat': 37.3978891,
   'lon': -5.9919526,
   'tags': {'addr:city': 'Sevilla',
    'addr:housenumber': '46',
    'addr:postcode': '41002',
    'addr:street': 'Calle Correduría',
    'amenity': 'restaurant',
    'contact:facebook': 'https://www.facebook.com/lasushiteka.sevilla',
    'cuisine': 'japanese',
    'name': 'Sushi & Brothers',
    'phone': '+34 955 28 83 54'}},
  {'type': 'node',
   'id': 3234801193,
   'lat': 37.3977442,
   'lon': -5.9922503,
   'tags': {'addr:city': 'Sevilla',
    'addr:housenumber': '38',
    'addr:postcode': '41002',
    'addr:street': 'Calle Correduría',
    'amenity': 'restaurant',
    'cuisine': 'burger',
    'name': 'HOB. House of Burger',
    'website': 'http://houseofburger.es/'}},
  {'type': 'node',
   'id': 4523124708,
   'lat': 37.3977234,
   'lon': -5.991412,
   'tags': {'addr:housenumber': '50',
    'addr:street': 'Calle Feria',
    'amenity': 'restaurant',
    'cuisine': 'italian',
    'name': 'La Locanda'}},
  {'type': 'node',
   'id': 4736821421,
   'lat': 37.3972555,
   'lon': -5.9913988,
   'tags': {'amenity': 'restaurant',
    'cuisine': 'tapas',
    'name': 'Lola Por Dios'}},
  {'type': 'node',
   'id': 5286447031,
   'lat': 37.3983659,
   'lon': -5.991666,
   'tags': {'addr:city': 'Sevilla',
    'addr:housenumber': '61',
    'addr:postcode': '41002',
    'addr:street': 'Calle Feria',
    'amenity': 'restaurant',
    'description': 'Vegan restaurant with daily menu',
    'diet:vegan': 'only',
    'name': 'El Enano Verde',
    'phone': '+34 646 459717'}},
  {'type': 'node',
   'id': 5344916289,
   'lat': 37.4002392,
   'lon': -5.9918609,
   'tags': {'amenity': 'restaurant',
    'cuisine': 'burger',
    'name': 'La Calle Burger'}},
  {'type': 'node',
   'id': 5645513333,
   'lat': 37.4015544,
   'lon': -5.9918609,
   'tags': {'amenity': 'restaurant',
    'name': 'retro. vermut',
    'name:es': 'retro. vermut'}},
  {'type': 'node',
   'id': 5779542834,
   'lat': 37.3995833,
   'lon': -5.991326,
   'tags': {'addr:city': 'Sevilla',
    'addr:postcode': '41003',
    'addr:street': 'Calle Calderón de la Barca',
    'amenity': 'restaurant',
    'cuisine': 'burger',
    'name': 'Atticus Finch',
    'opening_hours': 'Tu-Sa 13:30-16:00, 20:30-23:15; Su 13:30-16:00',
    'outdoor_seating': 'yes',
    'phone': '+34 639 672 014'}},
  {'type': 'node',
   'id': 8189738705,
   'lat': 37.4002518,
   'lon': -5.9916715,
   'tags': {'addr:city': 'Sevilla',
    'addr:housenumber': '118',
    'addr:postcode': '41003',
    'addr:street': 'Calle Feria',
    'amenity': 'restaurant',
    'cuisine': 'pizza;pasta',
    'name': 'Botegga Italia'}},
  {'type': 'node',
   'id': 8837948705,
   'lat': 37.399468,
   'lon': -5.991109,
   'tags': {'addr:postcode': '41003',
    'addr:street': 'Plaza Calderón de la Barca',
    'addr:unit': 'puesto: 92',
    'air_conditioning': 'yes',
    'amenity': 'restaurant',
    'cuisine': 'italian;asian;venezuelan;brazilian',
    'delivery': 'yes',
    'description': 'Gastrobar de comida artesana, fusión con base en panes planos y rellenos como: arepa, focaccia, gyoza, pakora, pita ... Con propuestas con y sin gluten, con carne, vegetarianas y veganas...',
    'diet:vegan': 'yes',
    'email': 'condendepanes@gmail.com',
    'name': 'Condendê',
    'nohousenumber': 'yes',
    'opening_hours': 'Tu-Sa 13:00-23:30',
    'outdoor_seating': 'yes',
    'payment:cash': 'yes',
    'payment:debit_cards': 'yes',
    'payment:maestro': 'yes',
    'payment:mastercard': 'yes',
    'payment:visa': 'yes',
    'payment:visa_electron': 'yes',
    'phone': '+34 623035530',
    'takeaway': 'yes',
    'website': 'https://condende.pedidosweb.es',
    'wheelchair': 'yes'}},
  {'type': 'node',
   'id': 9128113169,
   'lat': 37.3986868,
   'lon': -5.9912367,
   'tags': {'addr:city': 'Sevilla',
    'addr:housenumber': '33',
    'addr:postcode': '41003',
    'addr:street': 'Calle Palacios Malaver',
    'amenity': 'restaurant',
    'cuisine': 'spanish',
    'name': 'Bodega Mateo Ruiz',
    'opening_hours': 'Mo-Sa 12:30-16:00 20:30-00:00, Su 12:30-16:00',
    'opening_hours:covid19': 'restricted'}},
  {'type': 'node',
   'id': 10715714124,
   'lat': 37.3981117,
   'lon': -5.9914797,
   'tags': {'addr:street': 'Calle Feria',
    'amenity': 'restaurant',
    'name': 'La Lista Negra',
    'phone': '666000259'}}]}

In [94]:
df_tags = pd.DataFrame([x["tags"] for x in data["elements"]])
df_tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   addr:city              10 non-null     object
 1   addr:housenumber       10 non-null     object
 2   addr:postcode          11 non-null     object
 3   addr:street            13 non-null     object
 4   amenity                16 non-null     object
 5   name                   16 non-null     object
 6   phone                  7 non-null      object
 7   capacity               1 non-null      object
 8   cuisine                10 non-null     object
 9   smoking                1 non-null      object
 10  wheelchair             2 non-null      object
 11  email                  2 non-null      object
 12  contact:facebook       1 non-null      object
 13  website                2 non-null      object
 14  description            2 non-null      object
 15  diet:vegan             2 non-null      object
 16  name:es                1 non-null      object
 17  opening_hours          3 non-null      object
 18  outdoor_seating        2 non-null      object
 19  addr:unit              1 non-null      object
 20  air_conditioning       1 non-null      object
 21  delivery               1 non-null      object
 22  nohousenumber          1 non-null      object
 23  payment:cash           1 non-null      object
 24  payment:debit_cards    1 non-null      object
 25  payment:maestro        1 non-null      object
 26  payment:mastercard     1 non-null      object
 27  payment:visa           1 non-null      object
 28  payment:visa_electron  1 non-null      object
 29  takeaway               1 non-null      object
 30  opening_hours:covid19  1 non-null      object
dtypes: object(31)
memory usage: 4.0+ KB

In [95]:
data["elements"]

[{'type': 'node',
  'id': 2417048579,
  'lat': 37.3992949,
  'lon': -5.9923078,
  'tags': {'addr:city': 'Sevilla',
   'addr:housenumber': '21',
   'addr:postcode': '41003',
   'addr:street': 'Calle Peris Mencheta',
   'amenity': 'restaurant',
   'name': 'Gibi Tapas',
   'phone': '+34 954 90 81 88'}},
 {'type': 'node',
  'id': 2526791436,
  'lat': 37.3995961,
  'lon': -5.9927957,
  'tags': {'addr:city': 'Sevilla',
   'addr:housenumber': '24',
   'addr:postcode': '41002',
   'addr:street': 'Calle Mata',
   'amenity': 'restaurant',
   'capacity': '50',
   'cuisine': 'international',
   'name': 'La Mata 24',
   'smoking': 'outside'}},
 {'type': 'node',
  'id': 2741881232,
  'lat': 37.4015362,
  'lon': -5.9919275,
  'tags': {'addr:city': 'sevilla',
   'addr:housenumber': '141',
   'addr:postcode': '41002',
   'addr:street': 'Feria',
   'amenity': 'restaurant',
   'name': 'sacramento',
   'wheelchair': 'yes'}},
 {'type': 'node',
  'id': 3234791246,
  'lat': 37.3979082,
  'lon': -5.9921537,
  'tags': {'addr:city': 'Sevilla',
   'addr:housenumber': '35',
   'addr:postcode': '41002',
   'addr:street': 'Calle Correduría',
   'amenity': 'restaurant',
   'email': 'info@bierkraft.es',
   'name': 'Bierkraft',
   'phone': '+34 655 83 45 60'}},
 {'type': 'node',
  'id': 3234796096,
  'lat': 37.3978891,
  'lon': -5.9919526,
  'tags': {'addr:city': 'Sevilla',
   'addr:housenumber': '46',
   'addr:postcode': '41002',
   'addr:street': 'Calle Correduría',
   'amenity': 'restaurant',
   'contact:facebook': 'https://www.facebook.com/lasushiteka.sevilla',
   'cuisine': 'japanese',
   'name': 'Sushi & Brothers',
   'phone': '+34 955 28 83 54'}},
 {'type': 'node',
  'id': 3234801193,
  'lat': 37.3977442,
  'lon': -5.9922503,
  'tags': {'addr:city': 'Sevilla',
   'addr:housenumber': '38',
   'addr:postcode': '41002',
   'addr:street': 'Calle Correduría',
   'amenity': 'restaurant',
   'cuisine': 'burger',
   'name': 'HOB. House of Burger',
   'website': 'http://houseofburger.es/'}},
 {'type': 'node',
  'id': 4523124708,
  'lat': 37.3977234,
  'lon': -5.991412,
  'tags': {'addr:housenumber': '50',
   'addr:street': 'Calle Feria',
   'amenity': 'restaurant',
   'cuisine': 'italian',
   'name': 'La Locanda'}},
 {'type': 'node',
  'id': 4736821421,
  'lat': 37.3972555,
  'lon': -5.9913988,
  'tags': {'amenity': 'restaurant',
   'cuisine': 'tapas',
   'name': 'Lola Por Dios'}},
 {'type': 'node',
  'id': 5286447031,
  'lat': 37.3983659,
  'lon': -5.991666,
  'tags': {'addr:city': 'Sevilla',
   'addr:housenumber': '61',
   'addr:postcode': '41002',
   'addr:street': 'Calle Feria',
   'amenity': 'restaurant',
   'description': 'Vegan restaurant with daily menu',
   'diet:vegan': 'only',
   'name': 'El Enano Verde',
   'phone': '+34 646 459717'}},
 {'type': 'node',
  'id': 5344916289,
  'lat': 37.4002392,
  'lon': -5.9918609,
  'tags': {'amenity': 'restaurant',
   'cuisine': 'burger',
   'name': 'La Calle Burger'}},
 {'type': 'node',
  'id': 5645513333,
  'lat': 37.4015544,
  'lon': -5.9918609,
  'tags': {'amenity': 'restaurant',
   'name': 'retro. vermut',
   'name:es': 'retro. vermut'}},
 {'type': 'node',
  'id': 5779542834,
  'lat': 37.3995833,
  'lon': -5.991326,
  'tags': {'addr:city': 'Sevilla',
   'addr:postcode': '41003',
   'addr:street': 'Calle Calderón de la Barca',
   'amenity': 'restaurant',
   'cuisine': 'burger',
   'name': 'Atticus Finch',
   'opening_hours': 'Tu-Sa 13:30-16:00, 20:30-23:15; Su 13:30-16:00',
   'outdoor_seating': 'yes',
   'phone': '+34 639 672 014'}},
 {'type': 'node',
  'id': 8189738705,
  'lat': 37.4002518,
  'lon': -5.9916715,
  'tags': {'addr:city': 'Sevilla',
   'addr:housenumber': '118',
   'addr:postcode': '41003',
   'addr:street': 'Calle Feria',
   'amenity': 'restaurant',
   'cuisine': 'pizza;pasta',
   'name': 'Botegga Italia'}},
 {'type': 'node',
  'id': 8837948705,
  'lat': 37.399468,
  'lon': -5.991109,
  'tags': {'addr:postcode': '41003',
   'addr:street': 'Plaza Calderón de la Barca',
   'addr:unit': 'puesto: 92',
   'air_conditioning': 'yes',
   'amenity': 'restaurant',
   'cuisine': 'italian;asian;venezuelan;brazilian',
   'delivery': 'yes',
   'description': 'Gastrobar de comida artesana, fusión con base en panes planos y rellenos como: arepa, focaccia, gyoza, pakora, pita ... Con propuestas con y sin gluten, con carne, vegetarianas y veganas...',
   'diet:vegan': 'yes',
   'email': 'condendepanes@gmail.com',
   'name': 'Condendê',
   'nohousenumber': 'yes',
   'opening_hours': 'Tu-Sa 13:00-23:30',
   'outdoor_seating': 'yes',
   'payment:cash': 'yes',
   'payment:debit_cards': 'yes',
   'payment:maestro': 'yes',
   'payment:mastercard': 'yes',
   'payment:visa': 'yes',
   'payment:visa_electron': 'yes',
   'phone': '+34 623035530',
   'takeaway': 'yes',
   'website': 'https://condende.pedidosweb.es',
   'wheelchair': 'yes'}},
 {'type': 'node',
  'id': 9128113169,
  'lat': 37.3986868,
  'lon': -5.9912367,
  'tags': {'addr:city': 'Sevilla',
   'addr:housenumber': '33',
   'addr:postcode': '41003',
   'addr:street': 'Calle Palacios Malaver',
   'amenity': 'restaurant',
   'cuisine': 'spanish',
   'name': 'Bodega Mateo Ruiz',
   'opening_hours': 'Mo-Sa 12:30-16:00 20:30-00:00, Su 12:30-16:00',
   'opening_hours:covid19': 'restricted'}},
 {'type': 'node',
  'id': 10715714124,
  'lat': 37.3981117,
  'lon': -5.9914797,
  'tags': {'addr:street': 'Calle Feria',
   'amenity': 'restaurant',
   'name': 'La Lista Negra',
   'phone': '666000259'}}]

In [98]:
elements = data['elements']
places = {'lat': [], 'lon': [], 'name': [], 'address': []}
for i in elements:
    try:
        latitude = i.get('lat', None)
        longitude = i.get('lon', None)
        name = i['tags'].get('name', None)
        street = i['tags'].get('addr:street', "")
        number = i['tags'].get('addr:housenumber', "")
        
        
        places['lat'].append(latitude)
        places['lon'].append(longitude)
        places['name'].append(name)
        places['address'].append(street + ' ' + str(number))
        
    except:
        continue


df = pd.DataFrame(places)
# df[(df['lon']<-4)&(df['lon']>-7)]
df

          lat       lon                  name                      address
0   37.399295 -5.992308            Gibi Tapas      Calle Peris Mencheta 21
1   37.399596 -5.992796            La Mata 24                Calle Mata 24
2   37.401536 -5.991928            sacramento                    Feria 141
3   37.397908 -5.992154             Bierkraft          Calle Correduría 35
4   37.397889 -5.991953      Sushi & Brothers          Calle Correduría 46
5   37.397744 -5.992250  HOB. House of Burger          Calle Correduría 38
6   37.397723 -5.991412            La Locanda               Calle Feria 50
7   37.397255 -5.991399         Lola Por Dios
8   37.398366 -5.991666        El Enano Verde               Calle Feria 61
9   37.400239 -5.991861       La Calle Burger
10  37.401554 -5.991861         retro. vermut
11  37.399583 -5.991326         Atticus Finch  Calle Calderón de la Barca
12  37.400252 -5.991671        Botegga Italia              Calle Feria 118
13  37.399468 -5.991109              Condendê  Plaza Calderón de la Barca
14  37.398687 -5.991237     Bodega Mateo Ruiz    Calle Palacios Malaver 33
15  37.398112 -5.991480        La Lista Negra                 Calle Feria