### Introducción:

El siguiente ejercicio utiliza datos de UC Irvine Machine Learning Repository

### Paso 1. Importe las bibliotecas necesarias

In [9]:
import pandas as pd
import numpy as np

### Paso 2. Importe el primer conjunto de datos cars1 y cars2.

In [10]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

 ### Paso 3. Asigne cada uno a una variable llamada cars1 y cars2

### Paso 4. Ups, parece que nuestro primer conjunto de datos tiene algunas columnas en blanco sin nombre, arregle cars1

```{Python}
[objeto for objeto in coleccion if condicion]
{clave:valor for clave, valor in diccionario.items() if condicion}
```

In [11]:
[col for col in cars1.columns if "Unnamed" not in col]

['mpg',
 'cylinders',
 'displacement',
 'horsepower',
 'weight',
 'acceleration',
 'model',
 'origin',
 'car']

In [13]:
# filter_cols = [col for col in cars1.columns if "Unnamed" not in col]
# cars1 = cars1.loc[:, filter_cols]
# cars1

In [14]:
drop_cols = [col for col in cars1.columns if "Unnamed" in col]
cars1 = cars1.drop(columns=drop_cols)
cars1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick
194,22.5,6,232,90,3085,17.6,76,1,amc hornet
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit

In [15]:
cars2

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Paso 5. ¿Cuál es el número de observaciones en cada conjunto de datos?

In [17]:
print("Cars 1 tiene", cars1.shape[0], "observaciones.")
print("Cars 2 tiene", cars2.shape[0], "observaciones.")

Cars 1 tiene 198 observaciones.
Cars 2 tiene 200 observaciones.

### Paso 6. Unir cars1 y cars2 en un solo DataFrame llamado cars

In [19]:
cars = pd.concat([cars1, cars2], ignore_index=True)
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97,52,2130,24.6,82,2,vw pickup
395,32.0,4,135,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120,79,2625,18.6,82,1,ford ranger
397,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Paso 7. Ups, falta una columna llamada propietarios. Cree una serie de números aleatorios de 15,000 a 73,000.

In [21]:
arr_prop = np.random.randint(15000, 73001, size=cars.shape[0])
arr_prop

array([18958, 58475, 44019, 65081, 49396, 56841, 70930, 47903, 29253,
       62979, 19928, 71503, 70413, 48755, 29668, 15400, 24115, 58125,
       36757, 30486, 67607, 24426, 51449, 35771, 38104, 58126, 42832,
       23020, 24203, 36279, 42146, 29975, 59430, 32205, 56853, 45723,
       65506, 26625, 51555, 23077, 15469, 37863, 62138, 57686, 72692,
       60481, 29736, 18557, 57408, 65447, 57801, 24039, 20697, 58990,
       70804, 20647, 68977, 53433, 49585, 17039, 20060, 59045, 63636,
       65741, 43070, 50660, 43324, 57189, 32963, 38657, 72376, 33358,
       72341, 15403, 71310, 21220, 71136, 58364, 58199, 38024, 56962,
       36724, 59857, 27900, 30336, 30929, 62934, 17008, 45555, 34071,
       56654, 23099, 19158, 49405, 42449, 53396, 23871, 38735, 64394,
       38347, 54241, 26765, 57640, 46675, 41196, 17494, 30915, 26365,
       44882, 35264, 51579, 63987, 26577, 40712, 25218, 40299, 27241,
       28026, 24466, 72425, 59647, 21960, 24971, 61519, 61871, 67726,
       23681, 64363, 50573, 17792, 70755, 29913, 43196, 37750, 69242,
       40906, 45191, 70469, 49286, 41989, 19985, 71713, 43716, 37114,
       38915, 23975, 40934, 51549, 59150, 58616, 51916, 24545, 43435,
       18000, 31688, 46089, 63030, 71275, 50453, 43604, 44917, 39493,
       30999, 28128, 25213, 48895, 39822, 71058, 24467, 54495, 54381,
       29756, 35200, 70190, 22626, 27310, 35838, 66283, 64917, 48002,
       70793, 66478, 46493, 17076, 72884, 18770, 69890, 18586, 56604,
       60960, 26917, 34234, 67850, 63565, 36657, 45622, 66775, 24156,
       19124, 58608, 38046, 25979, 33037, 70998, 52325, 59933, 25856,
       63310, 71112, 35386, 67535, 48010, 22488, 47134, 35370, 70841,
       23037, 55792, 66165, 33444, 64474, 19653, 48264, 17721, 28198,
       44358, 48471, 55396, 21033, 22203, 20827, 27335, 18314, 28315,
       41499, 62470, 56335, 21608, 64584, 20295, 42100, 44765, 15165,
       42077, 27902, 48325, 57618, 54060, 62113, 69925, 23453, 70735,
       28164, 36174, 48039, 18393, 20871, 53932, 24092, 61778, 23061,
       30907, 20526, 52799, 61737, 47774, 63646, 20140, 24876, 41134,
       42810, 25016, 29739, 45845, 34908, 28894, 26254, 24499, 70066,
       61663, 72718, 28976, 65649, 48469, 46633, 29344, 41278, 37604,
       47755, 72257, 24937, 72332, 47064, 22282, 42383, 27704, 20802,
       54577, 40478, 40121, 68013, 57492, 71785, 18628, 22721, 20713,
       58176, 38048, 33997, 56891, 50252, 56487, 29716, 37334, 58233,
       19295, 20056, 62349, 66590, 65609, 43640, 35084, 20257, 38337,
       29651, 48153, 21285, 61955, 53913, 19199, 37370, 53764, 18061,
       47921, 16365, 54256, 54464, 35439, 29132, 50046, 70713, 50109,
       48309, 64604, 45802, 34565, 45548, 27704, 36227, 20388, 24531,
       47094, 71768, 35615, 22044, 65536, 18618, 58067, 36530, 48910,
       29451, 29532, 66369, 25604, 68330, 35941, 69946, 58223, 25567,
       42675, 22286, 46329, 59388, 33548, 37319, 62307, 18874, 59603,
       44595, 63948, 41489, 32439, 59266, 39901, 68693, 20788, 69246,
       32059, 42456, 55807, 31569, 55161, 36053, 56835, 69200, 70168,
       23689, 32594])

### Step 8. Añade la columna de propietarios a cars

In [22]:
cars["propietarios"] = arr_prop

In [23]:
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,propietarios
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,18958
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,58475
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,44019
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,65081
4,17.0,8,302,140,3449,10.5,70,1,ford torino,49396
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,56835
394,44.0,4,97,52,2130,24.6,82,2,vw pickup,69200
395,32.0,4,135,84,2295,11.6,82,1,dodge rampage,70168
396,28.0,4,120,79,2625,18.6,82,1,ford ranger,23689
397,31.0,4,119,82,2720,19.4,82,1,chevy s-10,32594