# Regimientos

In [17]:
import pandas as pd
pd.set_option("display.max_columns", None)

### Paso 2. Crear el DataFrame con los siguientes valores:

In [2]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Paso 3. Asignar a una variable llamada regimiento.

In [3]:
reg = pd.DataFrame(raw_data)
reg

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

### Paso 4. ¿Cuál es la puntuación media de preTestScore del regimiento Nighthawks?

In [6]:
reg.loc[reg["regiment"] == "Nighthawks", "preTestScore"].mean()

15.25


### Paso 5. Presentar las estadísticas generales por compañía

In [19]:
dff = reg.groupby("company").describe()
dff

        preTestScore                                                      \
               count       mean        std  min   25%   50%    75%   max
company
1st              6.0   6.666667   8.524475  2.0  3.00   3.5   4.00  24.0
2nd              6.0  15.500000  14.652645  2.0  2.25  13.5  29.25  31.0

        postTestScore
                count       mean        std   min    25%   50%   75%   max
company
1st               6.0  57.666667  27.485754  25.0  34.25  66.0  70.0  94.0
2nd               6.0  67.000000  14.057027  57.0  58.25  62.0  68.0  94.0

In [13]:
dff.columns = [x + "_" + y for x, y in dff.columns]

In [15]:
reg.head()

     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
4    Dragoons     1st     Cooze             3             70

In [14]:
dff

,preTestScore_count,preTestScore_mean,preTestScore_std,preTestScore_min,preTestScore_25%,preTestScore_50%,preTestScore_75%,preTestScore_max,postTestScore_count,postTestScore_mean,postTestScore_std,postTestScore_min,postTestScore_25%,postTestScore_50%,postTestScore_75%,postTestScore_max
company,,,,,,,,,,,,,,,,
1st,6.0,6.666667,8.524475,2.0,3.00,3.5,4.00,24.0,6.0,57.666667,27.485754,25.0,34.25,66.0,70.0,94.0
2nd,6.0,15.500000,14.652645,2.0,2.25,13.5,29.25,31.0,6.0,67.000000,14.057027,57.0,58.25,62.0,68.0,94.0

### Paso 6. ¿Cuál es la media de las puntuaciones preTestScore de cada empresa?

In [20]:
reg.groupby("company")["preTestScore"].mean()

company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

### Paso 7. Muestra las puntuaciones medias de preTestScore agrupadas por regimiento y compañía

In [29]:
dff = reg.groupby(["regiment", "company"])["preTestScore"].aggregate("mean").reset_index(level=1)
dff

           company  preTestScore
regiment
Dragoons       1st           3.5
Dragoons       2nd          27.5
Nighthawks     1st          14.0
Nighthawks     2nd          16.5
Scouts         1st           2.5
Scouts         2nd           2.5

In [28]:
dff.index

MultiIndex([(  'Dragoons', '1st'),
            (  'Dragoons', '2nd'),
            ('Nighthawks', '1st'),
            ('Nighthawks', '2nd'),
            (    'Scouts', '1st'),
            (    'Scouts', '2nd')],
           names=['regiment', 'company'])

### Paso 8. Presentar la media de las puntuaciones preTestScores agrupadas por regimiento y compañía sin usar indexación heirárquica

In [33]:
reg.groupby(["regiment", "company"])["preTestScore"].mean().reset_index()

     regiment company  preTestScore
0    Dragoons     1st           3.5
1    Dragoons     2nd          27.5
2  Nighthawks     1st          14.0
3  Nighthawks     2nd          16.5
4      Scouts     1st           2.5
5      Scouts     2nd           2.5

### Paso 9. Agrupar todo el marco de datos por regimiento y compañía

In [34]:
gb_reg = reg.groupby(["regiment", "company"])
gb_reg

### Paso 10. Cuál es el número de observaciones en cada regimiento y compañía

In [38]:
for item in gb_reg:
    print("{:30s}: {}".format(str(item[0]), item[1].shape))

('Dragoons', '1st')           : (2, 5)
('Dragoons', '2nd')           : (2, 5)
('Nighthawks', '1st')         : (2, 5)
('Nighthawks', '2nd')         : (2, 5)
('Scouts', '1st')             : (2, 5)
('Scouts', '2nd')             : (2, 5)

In [39]:
for item in gb_reg:
    print(item[1])
    print("")

   regiment company   name  preTestScore  postTestScore
4  Dragoons     1st  Cooze             3             70
5  Dragoons     1st  Jacon             4             25

   regiment company    name  preTestScore  postTestScore
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57

     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94

     regiment company    name  preTestScore  postTestScore
2  Nighthawks     2nd     Ali            31             57
3  Nighthawks     2nd  Milner             2             62

  regiment company   name  preTestScore  postTestScore
8   Scouts     1st  Sloan             2             62
9   Scouts     1st  Piger             3             70

   regiment company   name  preTestScore  postTestScore
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70

### Paso 11. Iterar sobre un grupo e imprimir el nombre y los datos completos del regimiento. Haz una función llamada agrupa(variable)