In [1]:
import pandas as pd
# df = pd.read_excel('data/Sample - Superstore.xlsx')

In [3]:
df = pd.read_excel('data/Sample - Superstore.xlsx')

## Parentesis vs corchetes
1. **Corchetes** (Selección de filas o columnas):
    - Listas y tuplas: indexing y slicing
    - Numpy: index y slicing
    - Dataframe: inexing y slicing + loc/iloc
2. **Paréntesis**: para métodos y funciones.
    - Si viene de un objeto: es un metodo. objeto.metodo()
    - Si se ejecuta tal cual, e suna función o una clase.

In [7]:
df['Country'] # Series
df[['Country']] # DF de una columna
df[['Country', 'City']] # DF de dos columnas

            Country             City
0     United States        Henderson
1     United States        Henderson
2     United States      Los Angeles
3     United States  Fort Lauderdale
4     United States  Fort Lauderdale
...             ...              ...
9989  United States            Miami
9990  United States       Costa Mesa
9991  United States       Costa Mesa
9992  United States       Costa Mesa
9993  United States      Westminster

[9994 rows x 2 columns]

In [14]:
df.index = list(range(1, len(df)+1)) # Para cambiar el indice
# df.loc[0] # Indice explicito. Da error. Nos cargamos el 0 en el indice
# df.loc[1] # Elemento del indice que se llama 1
# df.iloc[0] # Equivalente al enterior. Acceso por indice implicito.
# df.loc[:, 'Country':'City'] # Slicing de columnas
df.iloc[0:5, :] # Slicing de filas

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [15]:
df.info()
# Ver métodos del string de Python
#https://www.w3schools.com/python/python_ref_string.asp
    
# Ver funciones built in de Python
# https://docs.python.org/3/library/functions.html

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9994 entries, 1 to 9994
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9994 non-null   object
 1   Order Date     9994 non-null   datetime64[ns]
 2   Ship Date      9994 non-null   datetime64[ns]
 3   Ship Mode      9994 non-null   object
 4   Customer ID    9994 non-null   object
 5   Customer Name  9994 non-null   object
 6   Segment        9994 non-null   object
 7   Country        9994 non-null   object
 8   City           9994 non-null   object
 9   State          9994 non-null   object
 10  Postal Code    9994 non-null   int64
 11  Region         9994 non-null   object
 12  Product ID     9994 non-null   object
 13  Category       9994 non-null   object
 14  Sub-Category   9994 non-null   object
 15  Product Name   9994 non-null   object
 16  Sales          9994 non-null   float64
 17  Quantity       9994 non-null   int64
 18  Discount       9994 non-null   float64
 19  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(2), object(13)
memory usage: 1.6+ MB

## Group by
Cuando queremos calcular une stadistico para cada grupo de una variable categorica

In [23]:
# Media de ventas
df['Sales'].mean()

# Media de ventas para cada ciudad
# df.groupby('City').mean()['Sales']

# # Media de ventas por segmento y ciudad
df.groupby(['City', 'Segment']).mean()['Sales'].unstack(level="Segment")#.reset_index(0) # 0 o 1

C:\Users\alber\AppData\Local\Temp\ipykernel_11060\2211885862.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['City', 'Segment']).mean()['Sales'].unstack(level="Segment")#.reset_index(0) # 0 o 1

Segment        Consumer   Corporate  Home Office
City
Aberdeen      25.500000         NaN          NaN
Abilene        1.392000         NaN          NaN
Akron         68.091385  303.645333    11.463000
Albuquerque   44.949000  239.475500   180.410333
Alexandria    43.606667  740.690000   134.944286
...                 ...         ...          ...
Woonsocket    52.960000   47.530000          NaN
Yonkers      572.405077         NaN   108.200000
York                NaN  163.595600          NaN
Yucaipa             NaN   50.800000          NaN
Yuma                NaN   98.012000   322.420500

[531 rows x 3 columns]

## Filtrar, máscaras

In [50]:
# LAS MASCARAS ESTÁN PARA FILTRAR FILAS
# Mascara de todo el DF
df.isnull()

# Mascara por una columna
df['State'] == 'Kentucky'

# Multiples condiciones
mask = (df['State'] == 'Kentucky') & (df['Ship Mode'] == 'Second Class')

# Multiples valores para una columna
ciudades = ['Henderson', 'Florence']
df[df['City'].isin(ciudades)]

# Aplicar una máscara
df[mask]

# Filtrar nulos. No hay en esta columna
df[df['City'].isnull()]

Empty DataFrame
Columns: [Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit]
Index: []

## Apply
Cuando hay que modificar valores de una columna

In [55]:
# Una columna de entrada, una de salida
def mifun(x):
    return x*100000

df['Sales'].apply(mifun)

1       26196000.0
2       73194000.0
3        1462000.0
4       95757750.0
5        2236800.0
           ...
9990     2524800.0
9991     9196000.0
9992    25857600.0
9993     2960000.0
9994    24316000.0
Name: Sales, Length: 9994, dtype: float64

In [30]:
df[['City', 'State']].apply(lambda x: x["City"] + "-" + x["State"], axis=1)

1            Henderson-Kentucky
2            Henderson-Kentucky
3        Los Angeles-California
4       Fort Lauderdale-Florida
5       Fort Lauderdale-Florida
                 ...
9990              Miami-Florida
9991      Costa Mesa-California
9992      Costa Mesa-California
9993      Costa Mesa-California
9994     Westminster-California
Length: 9994, dtype: object

In [56]:
# Varias columas de entrada, una salida
def mifun(x, y):
    return x + ' - ' + y

df.apply(lambda x: mifun(x['City'], x['State']), axis=1)

1            Henderson - Kentucky
2            Henderson - Kentucky
3        Los Angeles - California
4       Fort Lauderdale - Florida
5       Fort Lauderdale - Florida
                  ...
9990              Miami - Florida
9991      Costa Mesa - California
9992      Costa Mesa - California
9993      Costa Mesa - California
9994     Westminster - California
Length: 9994, dtype: object

In [60]:
# Una columa de entrada, varias de salida
def mifun(x):
    return pd.Series((x*10, x*1000))

df[['Sales_10', 'Sales_1000']] = df['Sales'].apply(mifun)
df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Sales_10,Sales_1000
1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,2619.600,261960.0
2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,7319.400,731940.0
3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,...,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,146.200,14620.0
4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,9575.775,957577.5
5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,223.680,22368.0

In [ ]:
# Varias columnas de entrada, varias de salida
def mifun(x):
    return pd.Series((x*10, x*1000))

df[['Sales_10', 'Sales_1000']] = zip(*df['Sales', 'Profit'].apply(mifun, axis=1))
df.head()

## Concat, append, merge
Siempre hay una clave de cruce y unas columnas comunes. Se puede razonas los joins con teoria de conjuntos (bolas y nombres de clientes...)
1. **Concat** (mantiene los index originales):
    - Entre series, concatena los series linealmente
    - Entre DF: los oncatena verticalmente si coinciden en columnas
    - pd.concat([x, y], ignore_index=True) para que ignore el indice y ponga un RangeIndex nuevo.
2. **Append**: funciona como el concat. Existe por el nombre que tiene. Concatenado vertical.
3. **Merge**:
    - Realiza el join por las columnas comunes entre os dos dataframes
    - Por defecto es un inner join.
    - 'left_on' y 'right_on' para especificar las columnas de cruce
    - 'left_index' y  'right_index' por si se quiere hacer el cruce por indice
    - Se pueden mezclar en el cruce indice con columna
    - Outer es en realidad full outer join
4. **Join**:
    - Por defecto, lo hace por indice

```Python
df3 = pd.merge(df1, df2)
pd.merge(df1, df3, left_on="employee", right_on="name")
pd.merge(df1a, df2a, left_index=True, right_index=True)
```