# AWS - RDS MySQL
### Paquetes requeridos
Librería de Python necesaria para establecer conexión a una base de datos MySQL

In [1]:
#!pip install PyMySQL

Collecting PyMySQL
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.0.2

### Credenciales
Para acceder a la BD necesitaremos tres datos:
1. Endpoint/host: la dirección donde se encuentra el servidor
2. Usuario
3. Contraseña

In [44]:
db_name = "database-1" # Nombre de la BD en AWS
username = "admin"
password = "12345678"
host = "database-1.c4ofnyeynvfh.us-east-1.rds.amazonaws.com"
port = 3306

### Conexion BD

In [45]:
import pymysql

In [47]:
'''
pymysql.cursors.DictCursor para que los resultados que devuelva sean diccionarios
por defecto devuelve tuplas. Asi podemos acceder por clave a las columnas
'''
db = pymysql.connect(host=host,
                     user=username,
                     password=password,
                     cursorclass=pymysql.cursors.DictCursor)

# El objeto cursor es el que ejecutará las queries y devolverá los resultados
cursor = db.cursor()

### Version DB

In [48]:
'''
Este es el engine version de la BD de AWS
fetchone trae la primera linea de la consulta
El execute() devuelve el numero de filas a las que ha efectado la query,
en este caso, devuelve una unica fila.

Execute se guarda en la conexion pero hasta que no hacemos commit
no se ejecutan las queries de insert de datos y esas cosas...
'''
cursor.execute('SELECT VERSION()')
version = cursor.fetchone()
print(f'Database version: {version}')

Database version: {'VERSION()': '8.0.20'}

### Creación de DB

In [11]:
# Creamos una BD. Tenemos una instancia de MYSQL, pero no una BD
# Los comandos de SQL se suelen poner en mayúscula
create_db = '''CREATE DATABASE country_database'''
cursor.execute(create_db)

# Podemos eliminar una BD
delete_db = '''DROP DATABASE country_database'''
cursor.execute(delete_db)

# La volvemos a crear
# El output es el numero de filas afectadas
cursor.execute(create_db)

1

In [12]:
cursor.execute('SHOW DATABASES')
cursor.fetchall()

[{'Database': 'country_database'},
 {'Database': 'information_schema'},
 {'Database': 'mysql'},
 {'Database': 'performance_schema'}]

### Creación de tablas

In [35]:
'''
Creamos una tabla
Esto da error, porque no le hemos dicho al servidor qué BD
queremos usar
'''
create_table = '''
CREATE TABLE country (
id INT NOT NULL auto_increment,
name TEXT,
continent TEXT,
population INT,
gdp DOUBLE,
primary key (id)
)
'''

cursor.execute(create_table)

0

### Seleccionar la BD

In [15]:
# Para que use la BD recien creada
# A continuacion ejecutar la celda de arriba para crear la tabla
cursor.connection.commit()
use_db = '''USE country_database'''
cursor.execute(use_db)

0

In [17]:
# Checkear todas las tablas en la BD
cursor.execute('SHOW TABLES')
cursor.fetchall()

[{'Tables_in_country_database': 'country'}]

In [33]:
"""
Si queremos eliminar alguna tabla
drop_table = '''DROP TABLE country'''
cursor.execute(drop_table)
"""

"\nSi queremos eliminar alguna tabla\ndrop_table = '''DROP TABLE country'''\ncursor.execute(drop_table)\n"

### Insertar datos

In [18]:
# Insertar datos. gdp (producto interior bruto en miles de millones de USD)
insert_data = '''
INSERT INTO country(name,continent,population,gdp)\
            values('%s','%s','%s','%s')''' % ('Spain', 'Europe', 47, 1.4)

cursor.execute(insert_data)

1

### Leer datos

In [36]:
# Leemos la tabla
sql = '''SELECT * FROM country'''
cursor.execute(sql)

0

In [37]:
cursor.fetchall()

()

### Guardar los cambios
Hay que ejecutar el commit antes de cerrar la sesión de la BD para que se guarden todos los cambios

In [34]:
# Para guardar los cambios en la BD
db.commit()

### Excepciones
Se recomienda rodear este tipo de sentencias con un try/except, ya que suele ser software productivo y tiene que saber manejar fallos

In [22]:
try:
    sql = '''SELECT * FROM country'''
    cursor.execute(sql)
    cursor.fetchall()
except Exception as e:
    print(e)

### Insertar datos de un CSV

In [23]:
# Creamos el CSV
import pandas as pd

df = pd.DataFrame({
    'name': ['France', 'Japan', 'Argentina', 'Brasil'],
    'continent': ['Europe', 'Asia', 'America', 'America'],
    'population': [70, 126, 44, 209],
    'gdp': [2.7, 4.9, 0.5, 1.8]
})

df.to_csv('country_data.csv', sep=';', index=False)

In [24]:
# Leemos los datos para la demo
import pandas as pd
df = pd.read_csv('country_data.csv', sep=';')
df.head()

        name continent  population  gdp
0     France    Europe          70  2.7
1      Japan      Asia         126  4.9
2  Argentina   America          44  0.5
3     Brasil   America         209  1.8

In [38]:
# Importamos el modulo sqlalchemy
from sqlalchemy import create_engine

# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
                       .format(user=username,
                               host=host,
                               pw=password,
                               db="country_database"))

In [39]:
# Insertamos todo el dataframe
df.to_sql('country',
          con = engine,
          if_exists = 'append',
          chunksize = 1000,
          index=False)

In [41]:
db.commit()

In [42]:
# Leemos los datos para comprobar que se han ingestado correctamente
sql = '''SELECT * FROM country'''
cursor.execute(sql)
cursor.fetchall()

[{'id': 1,
  'name': 'France',
  'continent': 'Europe',
  'population': 70,
  'gdp': 2.7},
 {'id': 2,
  'name': 'Japan',
  'continent': 'Asia',
  'population': 126,
  'gdp': 4.9},
 {'id': 3,
  'name': 'Argentina',
  'continent': 'America',
  'population': 44,
  'gdp': 0.5},
 {'id': 4,
  'name': 'Brasil',
  'continent': 'America',
  'population': 209,
  'gdp': 1.8}]

### Cerrar la conexión cuando acabemos

In [49]:
# Cuando acabamos, cerramos conexion
db.close()